<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        th {
            font-weight: bold;
        }

        .container {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .tile-container {
            width: 60%;
            padding: 20px;
            margin-top: 20px;
            margin-bottom: 20px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        }

        .btn-success {
            margin-top: 20px;
            width: 100%;
        }
    </style>
</head>

<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 tile-container">
                <h1 class="text-center font-weight-bold">User Details</h1>
                <table class="table">
                    <tbody>
                        <tr>
                            <th>ID</th>
                            <td>
                                <%= user.id %>
                            </td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>
                                <%= user.name %>
                            </td>
                        </tr>
                        <tr>
                            <th>Gender</th>
                            <td>
                                <%= user.gender %>
                            </td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>
                                <%= user.email %>
                            </td>
                        </tr>
                        <tr>
                            <th>City</th>
                            <td>
                                <%= user.city %>
                            </td>
                        </tr>
                        <tr>
                            <th>Phone</th>
                            <td>
                                <%= user.phone %>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-12 text-center">
                        <a href="/home" class="btn btn-success mx-auto">Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>